.IEHdng {
    font-weight: 700;
    margin-bottom: 30px;
    color: #274e13;
    text-align: center;
}

.IELabel {
    font-weight: bold;
    color: #783f04;
}

.IEBtn {
    height:40px;
    width: 290px;
    color: white;
    background-color: #274e13;
    font-weight: 500;
    font-size: 21px;
    border-radius: 8px;
    border: 1px solid #274e13;
}

.IEBtn:hover {
    color: #274e13;
    background-color: white;
    border: 1px solid #274e13;
}

.note {
    /* border: 1px solid red; */
    color: #274e13;
    font-family: monospace;
    font-size: 1rem;
}