body{
    background: #999999;
    margin: 0;
}
.hr2{
    margin-top:40px;
    border: 0;
    height: 5px;
    background: #274e13;
    background-image: radial-gradient(#274e13, #999999);
}
.hr1{
    margin-top:15px;
    border: 0;
    height: 5px;
    background: #274e13;
    background-image: radial-gradient(#274e13, #999999);
}