/* .customer-container{
  padding-top: 30px;
  border: 2px solid red;
} */

.button-contaner button {
    margin-left: 4px;
    margin-right: 4px;
    /* margin:0px; */
    width: 190px;
    color: #783f04;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    background: #ddd;
    border: 2px solid #783f04;
    border-radius: 5px;
}

.button-contaner button:hover {
    background-color: #f2f2f2;
    color: #274e13;
    border: 2px solid #274e13;
}

.select {
    margin-right: 1px;
    margin-left: 2px;
    box-sizing: border-box;
    width: 232px;
    height: 42px;
    padding: 5px;
    color: #783f04;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    background: #ddd;
    border: 2px solid #783f04;
    border-radius: 5px;
}

.select:hover {
    background-color: #f2f2f2;
    color: #274e13;
    border: 2px solid #274e13;
}

.search-input {
    margin-right: 2px;
    margin-left: 2px;
    background: #ddd;
    width: 190px;
    color: #274e13;
    padding: 7px;
    border: 2px solid #783f04;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
}

.search-input:hover {
    background-color: #f2f2f2;
    border: 2px solid #274e13;
    border-right: none;
}

.search-button {
    color: #783f04;
}

.tbl {
    height: 425px;
}

.newCustomerHdng {
    font-weight: 700;
    margin-bottom: 30px;
    color: #274e13;
    text-align: center;
}

.customerRegisterBtn {
    padding: 3px 120px 3px 120px;
    margin-top: 2px;
    height: 45px;
    color: white;
    background-color: #274e13;
    font-weight: 500;
    font-size: 21px;
    border-radius: 8px;
    border: 1px solid #274e13;
}

.customerRegisterBtn:hover {
    color: #274e13;
    background-color: white;
    border: 1px solid #274e13;
}

.vr {
    display: none;
    background-image: radial-gradient(#274e13, #999999);
    height: 400px;
    margin: 20px 10px 20px 30px;
    width: 6px;
}


.label-customer {
    font-weight: bold;
    color: #783f04;
}

@media screen and (min-width:900px) and ( max-width: 1284px) {
    .icon-contaner {
        display: block;
    }
}

@media screen and (min-width:1285px) and ( max-width: 1680px) {
    .rightPanevr {
        display: block;
    }
    .icon-contaner {
        display: block;
    }
}

/* @media screen and (max-width: 900px) {
    .icon-contaner {
        display: none;
    }
} */